.grid-container {

    display: grid;
    overflow-y: scroll;
    gap: 1px 1px;
    grid-template-columns: 1fr ; 
    grid-template-areas: "name" "description" "duedate";
    .center {
    .name { grid-area: name; }
}
.center {
    .description { grid-area: description; }
}
.center{
    .dueDate { grid-area: dueDate; }
  
  }
.mandatory{
    color: red;
}
.fieldName{
    color: black;
}

  
}

  

